.header{
    position: absolute;
    z-index: 10;
    width: 100%;
}
.navbar{
    padding: 20px 0;
}
.navbar-brand{
    font-weight: 800;
    text-transform: uppercase;
    font-size: 2em;
    color: #262626;
}
.nav-item{
    font-weight: 800;
    text-transform: uppercase;
}
.navbar-light .navbar-nav .nav-item .nav-link:hover,
.navbar-light .navbar-nav .nav-item.active .nav-link
{
    background-color: #262626;
    color: #fff;
}
.navbar-light .navbar-nav .nav-item .nav-link{
    color: #262626;
    padding: 5px 15px;
}
.navbar-light .navbar-toggler{
    border: none;
    color: #fff;
    border: 2px solid #7f7f7f;
    border-radius: 0;
    outline: none;
}
.navbar-collapse{
    background: #fff;
}
.social-link {
    width: 30px;
    height: 30px;
    border: 1px solid #ddd;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #666;
    border-radius: 50%;
    transition: all 0.3s;
    font-size: 0.9rem;
  }
  
  .social-link:hover,
  .social-link:focus {
    background: #ddd;
    text-decoration: none;
    color: #555;
  }
  #sticky-footer {
    flex-shrink: none;
  }